:root {
  --brand-color: #2e2f42;
  --section-hover-focus: #404bbf;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

.hide {
  display: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
li {
  margin-right: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section-ul-one {
  display: flex;
  gap: 24px;
}
.item {
  width: calc((100% - 72px) / 4);
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.container-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .div-container {
    display: flex;
    align-items: center;
  }
}
.header-mod {
  gap: 24px;
  display: flex;
}
.svg-web {
  fill: #f4f4fd;
}
.icons-work {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-work:hover {
  background-color: var(--section-hover-focus);
}
.icons-work:focus {
  background-color: var(--section-hover-focus);
}
.icons-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icons-network {
  width: 40px;
  height: 40px;
}
.name-div {
  padding: 32px 0;
}
.header-nav {
  display: flex;
  align-items: center;
  position: relative;
  color: #404bbf;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
  text-align: center;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-address {
    display: none;
  }
}
.studio {
  color: var(--brand-color);
}
.header-nav-mod {
  list-style: none;
  display: flex;
  gap: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-nav-mod {
    display: none;
  }
}

.header-ads {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  color: var(--brand-color);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-ads:hover {
  color: var(--section-hover-focus);
}

.header-ads:focus {
  color: var(--section-hover-focus);
}
.header-carent {
  position: relative;
  color: #404bbf;
}

.header-carent::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}
.address-ul {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {
  color: var(--section-hover-focus);
}
.contact:focus {
  color: var(--section-hover-focus);
}

.section-one {
  background-color: var(--brand-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.section-h-hiden {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 320px) and(max-width: 767px) {
  .section-h-one {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 1158px) {
  .section-h-one {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    color: #ffffff;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
  }
}

.section-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.section-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.section-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 1158px) {
  .section-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 320px) and(max-width: 767px) {
  .section-three {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    display: flex;
    width: 396px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
}

.section-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-p-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.section-img-one {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-bottom: 72px;
}
.section-doing {
  padding-bottom: 120px;
}
.section-img-ul {
  display: flex;
  gap: 24px;
}
.img-section {
  width: calc((100% - 48px) / 3);
}

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-img-two {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-five-ul {
  display: flex;
  gap: 24px;
}
.section-five-li {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.section-five-a {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-five-a:hover {
  color: var(--section-hover-focus);
  border-color: var(--section-hover-focus);
}
.section-five-a:focus {
  color: var(--section-hover-focus);
  border-color: var(--section-hover-focus);
}
.section-five-svg {
  fill: currentColor;
}
.footer-one {
  background-color: var(--brand-color);
  padding: 100px 0;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-p-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.footer-div-two {
  margin-right: 120px;
}
.social-media {
  margin-right: 80px;
}
.footer-ul {
  display: flex;
  gap: 16px;
}
.footer-li {
  width: 40px;
  height: 40px;
}
.footer-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-a:hover {
  background-color: #31d0aa;
}
.footer-a:focus {
  background-color: #31d0aa;
}
.footer-svg {
  fill: #f4f4fd;
}
.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.form-footer {
  display: flex;
  gap: 24px;
}
.label-footer {
  gap: 24px;
  display: flex;
}
.imput-footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.placeholder {
  color: #ffffff;
}
.subscribe-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.button-svg-footer {
  margin-left: 16px;
  fill: currentColor;
}
.section-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio:focus {
  color: #ffffff;
  cursor: pointer;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-ul-port {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.portfolio-ul-img {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-img-a {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.portfolio-img-a:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-a:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-div-img {
  position: relative;
  overflow: hidden;
}
.footer-span {
  color: #f4f4fd;
}
.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-li {
  width: calc((100% - 48px) / 3);
}

.portfolio-li-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio-div-p {
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
.portfolio-img-a:hover .portfolio-div-p {
  transform: translateY(0%);
}
.portfolio-img-a:focus .portfolio-div-p {
  transform: translateY(0%);
}
.div-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 16px;
}
.div-modal-two {
  margin-bottom: 8px;
}
.div-modal-one {
  margin-bottom: 16px;
}
.footer-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.div-modal-three {
  position: relative;
}
.div-modal-coment {
  margin-bottom: 24px;
}

.footer-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: #4d5ae5;
}
.footer-input:focus + .footer-svg-two {
  fill: #4d5ae5;
}
.footer-svg-two {
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  fill: var(--brand-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: var(--section-hover-focus);
  border: none;
  fill: #ffffff;
}
.modal-button:focus {
  background-color: var(--section-hover-focus);
  border: none;
  fill: #ffffff;
}
.svg-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal:focus {
  border-color: #4d5ae5;
}
.label-coment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}
.span-coment {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  margin-right: 8px;
}

.privacy-label {
  color: #4d5ae5;
}
.button-privacy {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0 auto;
}
.input-checkbox:checked + .label-coment .span-coment {
  fill: #f4f4fd;
  background-color: var(--section-hover-focus);
  border: none;
}

.container-mobail {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid var(--brand-color);
  border-radius: 50%;
}
.menu-toggle-icons {
  stroke: var(--brand-color);
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.mobile-menu {
  margin-bottom: auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu.aktive {
  color: var(--OCEAN, #404bbf);
}
.mobaile-menu {
  margin-bottom: auto;
}
.movile-menu-items:not(:last-child) {
  margin-bottom: 40px;
}
.mobail-contacst-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
@media screen and (min-width: 428px) {
  .mobail-contacst-link.curent {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
}
.mobail-contacst-link.curent {
  color: #4d5ae5;
}

.mobail-contacst-item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 320px) and(max-width: 767px) {
  .mobail-contacst-item {
    font-size: 36px;
  }
}
@media screen and (min-width: 428px) {
  .mobail-social {
    gap: 56px;
  }
}
.mobail-social {
  justify-content: space-between;
}

.mobail-contacst {
  margin-bottom: 48px;
}
@media screen and (min-width: 428px) {
  .mobail-contacst-item {
    font-size: 36px;
  }
}
@media screen and (max-width: 427.98px) {
  .mobail-contacst-item {
    justify-content: space-between;
  }
}
